@page "/actions"
@using SPFAdminSystem.Database;
@using SPFAdminSystem.Database.UserFiles;
@using SPFAdminSystem.Database.ProductFiles;
@inject AuthenticationStateProvider authStateProvider;
@inject IJSRuntime js;
@inject IUserService _userDb;
@inject IProductService _prodDb;

<h1>User Actions</h1>
@if (actions == null){
    <h3>Loading...</h3>
}
else{
    <AuthorizeView>
        <Authorized>
            <button onclick="@(()=>AddUserAction(context.User.Identity.Name,"5011921003747"))">Change Product Detail</button>
            @*<button onclick="@(()=>AddUserAction(context.User.Identity.Name,"1"))">Change Product Detail</button>*@
            <button onclick="@(()=>AddUserAction(context.User.Identity.Name,"Excel File Upload"))">Save Excel File</button>
            <button onclick="@(()=>AddUserAction(context.User.Identity.Name,"Excel File Upload"))">Upload Excel File</button>
        </Authorized>
        <NotAuthorized>

        </NotAuthorized>
    </AuthorizeView>
    <TableComponent Actions="@actions"></TableComponent>
}

@code
{
    private List<UserAction> actions = new();
    public async void AddUserAction(string userName, string identifier)
    {
        try {
            User currUser = await _userDb.GetUserByName(userName);
            UserAction action;
            if (identifier == "Excel File Upload")
            {
                //dev
                string prodId = "5011921003747";
                Product prod = await _prodDb.GetProductById(prodId);

                action = new UserAction(currUser.UserId, currUser, DateTime.Now, "Excel File Upload","",prodId,prod);
            }
            else{
                Product prod = await _prodDb.GetProductById(identifier);
                action = new UserAction(currUser.UserId, currUser, DateTime.Now, "OrderQuantity", "7", identifier, prod);
            }

            await _userDb.InsertAction(action);
            actions.Add(action);
            StateHasChanged();
        }
        catch (InvalidOperationException e)
        {
            if (userName == "Admin")
                await js.InvokeVoidAsync("alert", "You are currently logged on as 'Admin'. Please change to a real user in the database to add a user action.");
        }
        catch (Microsoft.EntityFrameworkCore.DbUpdateException e)
        {
            await js.InvokeVoidAsync("alert", $"db update error {e}");
        }
        catch (OverflowException)
        {
            await js.InvokeVoidAsync("alert", $"User action yould not be saved with identifier '{identifier}'");
        }
    }

    public async void OpenThis(UserAction action){
        switch(action.ActionType){
            case "Excel File Upload":
            // show affected products
            break;
            case "Excel File Saved":
            // dont do anything
            break;
            default:
            // look up product in db
            break;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await _userDb.LoadActions();
        actions = _userDb.GetActions();
        foreach (UserAction action in actions)
        {
            action.Product = await _prodDb.GetProductById(action.ProductId);
            action.User = await _userDb.GetUserById(action.UserId);
        }
    }

}